aws_region     = "us-west-2"
environment    = ""

api_env_vars = {
  "ADMIN_EMAIL"             = "admin@example.com",
  "AWS_ENDPOINT"            = "s3.us-east-2.amazonaws.com",
  "DB_ENGINE_VERSION"       = "13.4",
  "DB_INSTANCE_CLASS"       = "db.t4g.small",
  "DD_AGENT_MAJOR_VERSION"  = "7",
  "DD_AGENT_MINOR_VERSION"  = "",
  "FRONTEND_URL"            = "https://ENV_CHANGE_ME.jump.co",
  "HEALTHCHECK_HEAP_MAX_MB" = "300",
  "HEALTHCHECK_RSS_MAX_MB"  = "300",
  "MAILER_FROM"             = "ENV_CHANGE_ME@jump.co"
  "MAILER_HOST"             = "smtp.sendgrid.net"
  "MAILER_PORT"             = "587"
  "MAILER_SECURE"           = "true"
  "MAILER_USER"             = "apikey"
  "NODE_ENV"                = "DEVELOP",
  "NO_COLOR"                = "true",
  "REDIRECT_ROOT_URL"       = "https://ENV_CHANGE_ME.jump.co",
  "SERVER_PORT"             = "3001",
  "TYPEORM_CONNECTION"      = "postgres",
  "TYPEORM_MIGRATIONS"      = "./dist/config/database/migrations/*.js"
  "TYPEORM_PORT"            = "5432",
  "TYPEORM_SYNCHRONIZE"     = "true"
}

api_secrets_keys = [
  "ADMIN_ADDRESS",
  "AWS_ACCESS_KEY",
  "AWS_REGION",
  "AWS_SECRET_KEY",
  "DATADOG_API_KEY",
  "HASHID_SALT",
  "MAILER_PASSWORD",
  "ROLLBAR_TOKEN",
  "SESSION_SECRET",
  "TYPEORM_PASSWORD",
  "TYPEORM_USERNAME"
]

api_secrets = {
  "ADMIN_ADDRESS"         = "",
  "AWS_ACCESS_KEY"     = "",
  "AWS_REGION"            = "",
  "AWS_SECRET_KEY" = "",
  "DATADOG_API_KEY"       = "",
  "HASHID_SALT"           = "",
  "MAILER_PASSWORD"       = "",
  "ROLLBAR_TOKEN"         = "",
  "SESSION_SECRET"        = "",
  "TYPEORM_PASSWORD"      = "",
  "TYPEORM_USERNAME"      = ""
}

web_env_vars = {
  "DD_AGENT_MAJOR_VERSION" = "7",
  "DD_AGENT_MINOR_VERSION" = ""
}

web_secrets_keys = [
  "DATADOG_API_KEY",
  "ENCRYPTION_KEY"
]

web_secrets = {
  "DATADOG_API_KEY" = "",
  "ENCRYPTION_KEY"  = ""
}

admin_env_vars = {
  "ADMIN_EMAIL"        = "admin@example.com",
  "NODE_ENV"           = "ADMIN",
  "NO_COLOR"           = "true",
  "SERVER_PORT"        = "3001",
  "TYPEORM_CONNECTION" = "postgres",
  "TYPEORM_PORT"       = "5432"
}

admin_secrets_keys = [
  "DATADOG_API_KEY",
  "SESSION_SECRET",
  "TYPEORM_PASSWORD",
  "TYPEORM_USERNAME"
]

admin_secrets = {
  "DATADOG_API_KEY"  = "",
  "SESSION_SECRET"   = "",
  "TYPEORM_PASSWORD" = "",
  "TYPEORM_USERNAME" = "",
}
